

/* .coverimage{
  width: 80%;
  height: 90vh;
  align: center;
  margin: 40px;
  object-fit: contain;
} */

#coverimage{
  width: 300px;
}

.title{
  font-size: 2em;
  color: #F42276;
  padding: 30px;
  text-align: center;
  font-family: 'Georgia';
  /* text-indent: 500px; */
}

.halfrow{
  background-color:#FCE0EB;
  color: #F42276;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

#color1{
  background-color:#BC641C;
}

#color2{
  background-color:#90691F;
}

#color3{
  background-color:#D4AD56;
}

#color4{
  background-color:#656965;
}

#color5{
  background-color:#191E1E;
}

.color{
  height:25vh;
}

#pickacolor{
  height: 60vh;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
}
